<link rel="stylesheet" href="/style.css"/>

<h2>
  <%= flash[:notice] %>
</h2>

<% if @user %>
<h2>Welcome to MakersBNB, <%= @user.name%>!</h2>
<% end %>

<h1>Book a space</h1>

<form action="/spaces/available" method="post">
Available from<br>
  <input type="date" name="from" /><br><br>
Available to<br>
<input type="date" name="to" />
  <br><br>
<input type="submit" value="See spaces" />
<br><br>
</form>

<% @spaces.each do |space| %>
<h2><%= space.name %></h2>
<p><%= space.description %></p>
<li>Cost: £<%= space.price%> per night</li>
<br>
<li>Available from: <%= space.from_date%> to: <%= space.to_date%></li>
<br>
<form action="/spaces/:id/booking" method="post">
<input type="submit" value="Book" />
</form>
 <%end%>
<br>
<br>
<br>
<br>
<br>
<form action="/spaces/new">
<input type="submit" value="List a new space" />
</form>
<br>
<br>
<br>
<br>
<br>
<form action="/sessions/destroy" method="post">
<input type="submit" value="Sign out" />
</form>

<footer>
 Makers BnB | FAMM team | Makers 2020
</footer>
