<link rel="stylesheet" href="/style.css"/>

<h2>
  <%= flash[:notice] %>
</h2>

<h1>Space listings</h1>

<% if @user %>
<h2>Welcome, <%= @user.name%></h2>
<% end %>

<% @spaces.each do |space| %>
<h2><%= space.name %></h2>
<p><%= space.description %></p>
<li>Cost: £<%= space.price%> per night</li>
 <%end%>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" />
</form>

<footer>
 Makers BnB | FAMM team | Makers 2020
</footer>
